# General
**/build-details.properties
classes/
eclipse-classes/
.classpath
.project
.settings/
target/
version.txt
*.lst
blaze.properties
*.orig
*.mine
*.mymetadata
generated/
ignoreme.txt
*.log
*.gz

sql.log.*

# Intellij
.idea/
*.swp
*.iml
*.iws
*.ipr
atlassian-ide-plugin.xml

# VS Code
*.code-workspace
.factorypath

data.json
json2html.pyc
stats.html
jsconfig.json

# Node
node_modules/
build/
dist/
yarn.lock

Session.vim
.DS_Store

# JRebel
rebel.xml
.rebel.xml.bak
rebel-remote.xml
.rebel-remote.xml.bak
grunt.status
docker-compose.local.yml
