.header {
}

.navbar {
}

.navbar-brand {
}

.content-login {
    max-width: 300px;
    margin: 0 auto;
}

.content-register {
    max-width: 300px;
    margin: 0 auto;
}

.content-password {
    max-width: 300px;
    margin: 0 auto;
}
