.content-login {
    max-width: 300px;
    margin: 0 auto;
}

.content-register {
    max-width: 300px;
    margin: 0 auto;
}

.content-password {
    max-width: 300px;
    margin: 0 auto;
}

.content-organizations {
    width: 50%;
    margin: 0 auto;
}

.content-boxes {
    width: 50%;
    margin: 0 auto;
}
