<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title th:text="#{navbar.brand}"></title>
</head>
<body>
<div layout:fragment="main-menu" class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
        <li class="nav-item me-4">
            <a class="nav-link" th:href="@{/}">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/organizations}">
                <span>organizations</span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/{organization}/boxes(organization=${organization.name})}">
                <span th:text="${organization.name}"></span>
            </a>
        </li>
    </ul>
</div>
<main layout:fragment="content" class="container-fluid mt-4" role="main">
    <section class="content content-boxes">
        <h3 class="mb-4" th:text="#{boxes.page.title}"></h3>

        <div class="d-flex w-100 justify-content-between mb-2">
            <div class="box-breadcrumb">
                <a class="link-dark" th:href="@{/{organization}/boxes(organization=${organization.name})}">
                    <h5 class="mb-1" th:text="${organization.name}"></h5>
                </a>
                <p class="text-muted mb-1" th:text="${organization.description}"></p>
            </div>
            <div>
                <small class="text-muted d-block mb-2"
                       th:text="${#temporals.format(organization.created, 'yyyy-MM-dd')}"></small>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end pb-2 mb-4">
            <a th:href="@{/box}" class="btn btn-primary me-md-2"
               role="button" th:text="#{boxes.page.button.create-box}"></a>
            <a th:href="@{/organization/{organization}(organization=${organization.name})}" class="btn btn-primary me-md-2"
               role="button" th:text="#{boxes.page.button.update-organization}"></a>
        </div>

        <div class="list-group" th:each="box : ${boxes}">
            <a th:href="@{/{organization}/boxes/{box}(organization=${box.username},box=${box.name})}"
               class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <h5 class="mb-1">
                            <span th:text="${box.username} + '/' + ${box.name}"></span>
                            <i class="fa-solid fa-lock text-muted fs-6 ms-2" th:if="${box.isPrivate}"></i>
                        </h5>
                        <p class="text-muted mb-1" th:text="${box.descriptionShort}"></p>
                    </div>
                    <div>
                        <small class="text-muted d-block mb-2"
                               th:text="${#temporals.format(box.created, 'yyyy-MM-dd')}"></small>
                        <p class="text-end mb-0">
                            <span class="badge bg-secondary rounded-pill" th:text="${box.downloads}"></span>
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div th:if="${#lists.isEmpty(boxes)}" class="alert alert-warning mt-3" role="alert">
            <i class="fa-solid fa-triangle-exclamation me-2"></i>
            <span th:text="#{boxes.page.alert.has-no-boxes}"></span>
        </div>
    </section>
</main>
</body>
</html>
