<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title th:text="#{site.title}"></title>
</head>
<body>
<div layout:fragment="main-menu" class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
        <li class="nav-item me-4">
            <a class="nav-link" th:href="@{/}" th:title="#{header.navbar.link.home}">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/organizations}" th:title="#{header.navbar.link.organizations}">
                <span class="text-lowercase" th:text="#{header.navbar.link.organizations}"></span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/{username}/boxes(username=${box.username})}"
               th:title="#{header.navbar.link.organization}">
                <span th:text="${box.username}"></span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/{username}/boxes/{name}(username=${box.username},name=${box.name})}"
               th:title="#{header.navbar.link.box}">
                <span th:text="${box.name}"></span>
            </a>
        </li>
    </ul>
</div>
<main layout:fragment="content" class="container-fluid mt-4" role="main">
    <section class="content content-version">
        <h3 class="mb-4" th:text="#{create-version.page.title}"></h3>
        <form class="mb-3" th:action="@{/{username}/boxes/{name}/version(username=${box.username},name=${box.name})}"
              th:object="${formData}" th:method="post">
            <div class="row mb-3">
                <div class="form-group col-4">
                    <label for="name" class="form-check-label"
                           th:text="#{create-version.page.form.name.label}"></label>
                    <input id="name" class="form-control" th:type="text" th:field="*{name}"
                           th:placeholder="#{create-version.page.form.name.placeholder}"
                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
                    <div id="nameFeedback" class="invalid-feedback">
                        <span th:errors="*{name}"></span>
                    </div>
                </div>
                <div class="col-8"></div>
            </div>
            <div class="row mb-3">
                <div class="form-group col">
                    <label for="description" class="form-check-label"
                           th:text="#{create-version.page.form.description.label}"></label>
                    <textarea id="description" class="form-control" th:field="*{description}"
                              th:placeholder="#{create-version.page.form.description.placeholder}"
                              th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''"
                              th:rows="2"></textarea>
                    <div id="descriptionFeedback" class="invalid-feedback">
                        <span th:errors="*{description}"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-4">
                    <button id="button" class="btn btn-primary w-100" th:type="submit"
                            th:text="#{create-version.page.form.button}"></button>
                </div>
                <div class="col-8"></div>
            </div>
            <input th:type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
    </section>
</main>
</body>
</html>
