<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/login}">
<head>
    <title th:text="#{navbar.brand}"></title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <main class="container" role="main">
            <div class="starter-template">
                <div class="jumbotron">
                    <h1 th:text="#{login.page.title}"></h1>
                </div>
                <form th:action="@{/login}" action="#" method="post">
                    <div class="form-group">
                        <label for="username"><span th:text="#{login.form.username}"></span></label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password"><span th:text="#{login.form.password}"></span></label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-success"><span th:text="#{login.form.button}"></span></button>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                </form>
                <div th:if="${param.error != null}" class="alert alert-danger" role="alert">
                    <span th:text="#{login.invalid.credentials}"></span>
                </div>
                <div th:if="${param.logout != null}" class="alert alert-success" role="alert">
                    <span th:text="#{logout.successful}"></span>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
