<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title th:text="#{site.title}"></title>
</head>
<body>
<div layout:fragment="main-menu" class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
        <li class="nav-item me-4">
            <a class="nav-link" th:href="@{/}" th:title="#{header.navbar.link.home}">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/organizations}" th:title="#{header.navbar.link.organizations}">
                <span class="text-lowercase" th:text="#{header.navbar.link.organizations}"></span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/{username}/boxes(username=${box.username})}"
               th:title="#{header.navbar.link.organization}">
                <span th:text="${box.username}"></span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/{username}/boxes/{name}(username=${box.username},name=${box.name})}"
               th:title="#{header.navbar.link.box}">
                <span th:text="${box.name}"></span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               th:href="@{/{username}/boxes/{name}/versions/{version}(username=${box.username},name=${box.name},version=${version.version})}"
               th:title="#{header.navbar.link.version}">
                <span th:text="${version.version}"></span>
            </a>
        </li>
    </ul>
</div>
<main layout:fragment="content" class="container-fluid mt-4" role="main">
    <section class="content content-providers">
        <h3 class="mb-4" th:text="#{providers.page.title}"></h3>

        <div class="d-flex w-100 justify-content-between mb-2">
            <div class="box-breadcrumb">
                <h5 class="mb-1">
                    <a class="link-dark" th:href="@{/{username}/boxes(username=${box.username})}">
                        <span th:text="${box.username}"></span>
                    </a>
                    /
                    <a class="link-dark"
                       th:href="@{/{username}/boxes/{name}(username=${box.username},name=${box.name})}">
                        <span th:text="${box.name}"></span>
                    </a>
                    /
                    <a class="link-dark"
                       th:href="@{/{username}/boxes/{name}/versions/{version}(username=${box.username},name=${box.name},version=${version.version})}">
                        <span th:text="${version.version}"></span>
                    </a>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#vagrantFileModal"
                       th:title="#{providers.page.text.vagrant-file}">
                        <i class="fa-solid fa-file-lines text-muted fs-6 ms-2"></i>
                    </a>
                </h5>
                <p class="text-muted mb-1" th:text="${version.descriptionHtml}"></p>
            </div>
            <div>
                <small class="text-muted d-block mb-2"
                       th:text="${#temporals.format(version.created, 'yyyy-MM-dd')}"></small>
                <p class="text-end mb-0">
                    <span class="badge bg-success rounded-pill" th:if="${version.status.name() == 'ACTIVE'}"
                          th:text="${version.status.name()}"></span>
                    <span class="badge bg-danger rounded-pill" th:if="${version.status.name() == 'UNRELEASED'}"
                          th:text="${version.status.name()}"></span>
                    <span class="badge bg-danger rounded-pill" th:if="${version.status.name() == 'REVOKED'}"
                          th:text="${version.status.name()}"></span>
                </p>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end pb-2 mb-4">
            <a class="btn btn-primary me-md-2" role="button"
               th:href="@{/{username}/boxes/{box}/versions/{version}/provider(username=${box.username},box=${box.name},version=${version.version})}"
               th:text="#{providers.page.button.create-provider}"></a>
            <a class="btn btn-primary me-md-2" role="button" onclick="submitForm('#releaseVersionForm')"
               th:if="${version.status.name() != 'ACTIVE'}"
               th:text="#{providers.page.button.release-version}"
               th:classappend="${canReleaseVersion} ? '' : 'disabled'"
               th:attrappend="aria-disabled=${canReleaseVersion} ? 'false' : 'true'"></a>
            <a class="btn btn-primary me-md-2" role="button" onclick="submitForm('#revokeVersionForm')"
               th:if="${version.status.name() == 'ACTIVE'}" th:text="#{providers.page.button.revoke-version}"></a>
            <a class="btn btn-primary me-md-2" role="button"
               th:href="@{/{username}/boxes/{name}/version/{version}(username=${box.username},name=${box.name},version=${version.version})}"
               th:text="#{providers.page.button.update-version}"></a>
        </div>

        <div class="list-group" th:each="provider : ${providers}">
            <a th:href="@{/{username}/boxes/{name}/versions/{version}/provider/{provider}(username=${box.username},name=${box.name},version=${version.version},provider=${provider.name})}"
               class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <h5 class="mb-1" th:text="${provider.name}"></h5>
                        <p class="text-muted mb-1" th:if="${provider.hosted}"
                           th:text="#{providers.page.text.hosted}"></p>
                        <p class="text-muted mb-1" th:unless="${provider.hosted}"
                           th:text="#{providers.page.text.not-hosted}"></p>
                    </div>
                    <div>
                        <small class="text-muted d-block mb-2"
                               th:text="${#temporals.format(provider.created, 'yyyy-MM-dd')}"></small>
                        <span class="badge bg-success rounded-pill" th:if="${provider.status.name() == 'VERIFIED'}"
                              th:text="${provider.status.name()}"></span>
                        <span class="badge bg-warning rounded-pill" th:if="${provider.status.name() == 'EXTERNAL'}"
                              th:text="${provider.status.name()}"></span>
                        <span class="badge bg-danger rounded-pill" th:if="${provider.status.name() == 'PENDING'}"
                              th:text="PENDING"></span>
                        <span class="badge bg-danger rounded-pill" th:if="${provider.status.name() == 'UPLOADED'}"
                              th:text="PENDING"></span>
                    </div>
                </div>
            </a>
        </div>

        <div th:if="${hasNoProviders}" class="alert alert-warning mt-3" role="alert">
            <i class="fa-solid fa-triangle-exclamation me-2"></i>
            <span th:text="#{providers.page.alert.has-no-providers}"></span>
        </div>
        <div th:if="${hasNonVerifiedProviders}" class="alert alert-warning mt-3" role="alert">
            <i class="fa-solid fa-triangle-exclamation me-2"></i>
            <span th:text="#{providers.page.alert.has-non-verified-providers}"></span>
        </div>
    </section>
    <form id="releaseVersionForm" class="mb-3" th:method="post"
          th:action="@{/{username}/boxes/{name}/version/{version}/release(username=${box.username},name=${box.name},version=${version.version})}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
    <form id="revokeVersionForm" class="mb-3" th:method="post"
          th:action="@{/{username}/boxes/{name}/version/{version}/revoke(username=${box.username},name=${box.name},version=${version.version})}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
    <div th:replace="fragments/modal/vagrant-file :: vagrant-file(username=${box.username},name=${box.name},version=${version.version})"></div>
</main>
</body>
</html>
