<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title th:text="#{site.title}"></title>
</head>
<body>
<div layout:fragment="main-menu" class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
        <li class="nav-item me-4">
            <a class="nav-link" th:href="@{/}" th:title="#{header.navbar.link.home}">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/organizations}" th:title="#{header.navbar.link.organizations}">
                <span class="text-lowercase" th:text="#{header.navbar.link.organizations}"></span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/{username}/boxes(username=${box.username})}"
               th:title="#{header.navbar.link.organization}">
                <span th:text="${box.username}"></span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/{username}/boxes/{box}(username=${box.username},box=${box.name})}"
               th:title="#{header.navbar.link.box}">
                <span th:text="${box.name}"></span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               th:href="@{/{username}/boxes/{box}/versions/{version}(username=${box.username},box=${box.name},version=${version.version})}"
               th:title="#{header.navbar.link.version}">
                <span th:text="${version.version}"></span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               th:href="@{/{username}/boxes/{box}/versions/{version}/provider/{provider}(username=${box.username},box=${box.name},version=${version.version},provider=${provider.name})}"
               th:title="#{header.navbar.link.provider}">
                <span th:text="${provider.name}"></span>
            </a>
        </li>
    </ul>
</div>
<main layout:fragment="content" class="container-fluid mt-4" role="main">
    <section class="content content-provider">
        <h3 class="mb-4" th:text="#{update-provider.page.title}"></h3>
        <form class="mb-3"
              th:action="@{/{username}/boxes/{box}/versions/{version}/provider/{provider}(username=${box.username},box=${box.name},version=${version.version},provider=${provider.name})}"
              th:object="${formData}" th:method="post">
            <div class="row mb-3">
                <div class="form-group col-4">
                    <label for="name" class="form-check-label"
                           th:text="#{update-provider.page.form.name.label}"></label>
                    <select id="name" class="form-select" th:field="*{name}"
                            th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
                        <option th:each="providerType : ${providerTypes}"
                                th:value="${providerType.name}" th:text="${providerType}"></option>
                    </select>
                    <div id="nameFeedback" class="invalid-feedback">
                        <span th:errors="*{name}"></span>
                    </div>
                </div>
                <div class="col-8"></div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-4">
                    <label for="checksumType" class="form-check-label"
                           th:text="#{update-provider.page.form.checksum-type.label}"></label>
                    <select id="checksumType" class="form-select" th:field="*{checksumType}"
                            th:classappend="${#fields.hasErrors('checksumType')} ? 'is-invalid' : ''">
                        <option th:each="checksumType : ${checksumTypes}"
                                th:value="${checksumType.name}" th:text="${checksumType}"></option>
                    </select>
                    <div id="checksumTypeFeedback" class="invalid-feedback">
                        <span th:errors="*{checksumType}"></span>
                    </div>
                </div>
                <div class="col-8"></div>
            </div>
            <div class="row mb-3">
                <div class="form-group col">
                    <label for="checksum" class="form-check-label"
                           th:text="#{update-provider.page.form.checksum.label}"></label>
                    <input id="checksum" class="form-control" th:type="text" th:field="*{checksum}"
                           th:placeholder="#{update-provider.page.form.checksum.placeholder}"
                           th:classappend="${#fields.hasErrors('checksum')} ? 'is-invalid' : ''">
                    <div id="checksumFeedback" class="invalid-feedback">
                        <span th:errors="*{checksum}"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col">
                    <input id="hosted" class="form-check-input" th:type="checkbox" th:checked="${formData.url == null}"
                           value="">
                    <label for="hosted" class="form-check-label"
                           th:text="#{update-provider.page.form.hosted.label}"></label>
                </div>
            </div>
            <div id="externalUrlWrapper" class="row mb-3"
                 th:classappend="${formData.url == null} ? 'd-none' : ''">
                <div class="form-group col">
                    <label for="externalUrl" class="form-check-label"
                           th:text="#{update-provider.page.form.url.label}"></label>
                    <input id="externalUrl" class="form-control" th:type="text" th:field="*{url}"
                           th:placeholder="#{update-provider.page.form.url.placeholder}"
                           th:classappend="${#fields.hasErrors('url')} ? 'is-invalid' : ''">
                    <div id="urlFeedback" class="invalid-feedback">
                        <span th:errors="*{url}"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-4">
                    <button id="update-button" class="btn btn-primary w-100" th:type="submit"
                            th:text="#{update-provider.page.form.update-button}"></button>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                    <button id="delete-modal-button" class="btn btn-danger w-100" th:type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteItemModal"
                            th:text="#{update-provider.page.delete-button}">
                    </button>
                </div>
            </div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
    </section>
    <form id="deleteItemForm" class="mb-3" th:method="post"
          th:action="@{/{username}/boxes/{box}/versions/{version}/provider/{provider}/delete(username=${box.username},box=${box.name},version=${version.version},provider=${provider.name})}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
    <div th:replace="fragments/modal/delete-item :: delete-item(title=#{delete-provider.modal.title},text=#{delete-provider.modal.text.delete-warning})"></div>
</main>
</body>
</html>
