<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title th:text="#{site.title}"></title>
</head>
<body>
<div layout:fragment="main-menu" class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
        <li class="nav-item me-4">
            <a class="nav-link" th:href="@{/}" th:title="#{header.navbar.link.home}">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/organizations}" th:title="#{header.navbar.link.organizations}">
                <span class="text-lowercase" th:text="#{header.navbar.link.organizations}"></span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/{username}/boxes(username=${box.username})}"
               th:title="#{header.navbar.link.organization}">
                <span th:text="${box.username}"></span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/{username}/boxes/{name}(username=${box.username},name=${box.name})}"
               th:title="#{header.navbar.link.box}">
                <span th:text="${box.name}"></span>
            </a>
        </li>
    </ul>
</div>
<main layout:fragment="content" class="container-fluid mt-4" role="main">
    <section class="content content-box">
        <h3 class="mb-4" th:text="#{update-box.page.title}"></h3>
        <form class="mb-3" th:action="@{/box/{username}/{name}(username=${box.username},name=${box.name})}"
              th:object="${formData}" th:method="post">
            <div class="form-group row mb-3">
                <div class="col-4">
                    <label for="username" class="form-check-label"
                           th:text="#{update-box.page.form.username.label}"></label>
                    <input id="username" class="form-control" th:type="text"
                           th:value="${organization.name}" th:disabled="true">
                </div>
                <div class="col-4">
                    <label for="name" class="form-check-label"
                           th:text="#{update-box.page.form.name.label}"></label>
                    <input id="name" class="form-control" th:type="text" th:field="*{name}"
                           th:placeholder="#{update-box.page.form.name.placeholder}"
                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
                    <div id="nameFeedback" class="invalid-feedback">
                        <span th:errors="*{name}"></span>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row mb-3">
                <div class="form-group col">
                    <label for="description" class="form-check-label"
                           th:text="#{update-box.page.form.description.label}"></label>
                    <textarea id="description" class="form-control" th:field="*{description}"
                              th:placeholder="#{update-box.page.form.description.placeholder}"
                              th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''"
                              th:rows="2"></textarea>
                    <div id="descriptionFeedback" class="invalid-feedback">
                        <span th:errors="*{description}"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col">
                    <input id="private" class="form-check-input" th:type="checkbox" th:field="*{private}">
                    <label for="private" class="form-check-label"
                           th:text="#{update-box.page.form.private.label}"></label>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-4">
                    <button id="button" class="btn btn-primary w-100" th:type="submit"
                            th:text="#{update-box.page.form.update-button}"></button>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                    <button id="delete-modal-button" class="btn btn-danger" th:type="button"
                            data-bs-toggle="modal" data-bs-target="#deleteItemModal"
                            th:text="#{update-box.page.modal.delete-item.delete-button}">
                    </button>
                </div>
            </div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
    </section>
    <form id="deleteItemForm" class="mb-3" th:method="post"
          th:action="@{/box/{username}/{name}/delete(username=${box.username},name=${box.name})}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
    <div class="modal fade" id="deleteItemModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteItemModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{update-box.page.modal.delete-item.title}"></h5>
                    <a href="#" class="close link-dark" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
                    </a>
                </div>
                <div class="modal-body">
                    <p th:utext="#{update-box.page.modal.delete-item.text.delete-warning}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            th:text="#{update-box.page.modal.delete-item.cancel-button}"></button>
                    <button id="confirm-button" class="btn btn-danger"
                            onclick="closeModalAndSubmitForm('#deleteItemModal', '#deleteItemForm')"
                            th:text="#{update-box.page.modal.delete-item.confirm-button}"></button>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
