<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title th:text="#{navbar.brand}"></title>
</head>
<body>
<div layout:fragment="main-menu" class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
        <li class="nav-item me-4">
            <a class="nav-link" th:href="@{/}">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/organizations}">
                <span>organizations</span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/{organization}/boxes(organization=${box.username})}">
                <span th:text="${box.username}"></span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/{organization}/boxes/{box}(organization=${box.username},box=${box.name})}">
                <span th:text="${box.name}"></span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               th:href="@{/{organization}/boxes/{box}/versions/{version}(organization=${box.username},box=${box.name},version=${version.name})}">
                <span th:text="${version.name}"></span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               th:href="@{/{organization}/boxes/{box}/versions/{version}/provider/{provider}(organization=${box.username},box=${box.name},version=${version.name},provider=${provider.name})}">
                <span th:text="${provider.name}"></span>
            </a>
        </li>
    </ul>
</div>
<main layout:fragment="content" class="container-fluid mt-4" role="main">
    <section class="content content-upload">
        <h3 class="mb-4" th:text="#{upload.page.title}"></h3>
        <form class="mb-3"
              th:action="@{/{organization}/boxes/{box}/versions/{version}/providers/{provider}/upload/{uid}(organization=${box.username},box=${box.name},version=${version.name},provider=${provider.name},uid=${upload.uid})}"
              enctype="multipart/form-data" th:method="post">
            <div class="row mb-3">
                <div class="form-group col">
                    <input type="file" id="file" name="file" class="form-control-file">
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-4">
                    <button type="submit" class="btn btn-primary w-100"
                            th:text="#{upload.page.form.button}"></button>
                </div>
                <div class="col-8"></div>
            </div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
        <div th:if="${verified != null && verified != true}" class="alert alert-danger" role="alert">
            <i class="fa-solid fa-triangle-exclamation me-2"></i>
            <span th:text="#{upload.page.alert.not-verified}"></span>
        </div>
    </section>
</main>
</body>
</html>
