<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title th:text="#{site.title}"></title>
</head>
<body>
<div layout:fragment="main-menu" class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
        <li class="nav-item me-4">
            <a class="nav-link" th:href="@{/}" th:title="#{header.navbar.link.home}">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/users}" th:title="#{header.navbar.link.users}">
                <span class="text-lowercase" th:text="#{header.navbar.link.users}"></span>
            </a>
        </li>
    </ul>
</div>
<main layout:fragment="content" class="container-fluid mt-4" role="main">
    <section class="content content-organizations">
        <h3 class="mb-2" th:text="#{users.page.title}"></h3>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end pb-2 mb-4">
            <a th:href="@{/user}" class="btn btn-primary me-md-2"
               role="button" th:text="#{users.page.button.create-user}"></a>
        </div>

        <div class="list-group" th:each="user : ${users}">
            <a th:href="@{/user/{username}(username=${user.username})}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <h5 class="mb-1" th:text="${user.username}"></h5>
                        <p class="text-muted mb-1" th:text="${user.role()}"></p>
                    </div>
                    <div>
                        <small class="text-muted d-block mb-2"
                               th:text="${#temporals.format(user.created, 'yyyy-MM-dd')}"></small>
                    </div>
                </div>
            </a>
        </div>
    </section>
</main>
</body>
</html>
