<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title th:text="#{navbar.brand}"></title>
</head>
<body>
<div layout:fragment="main-menu" class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
        <li class="nav-item me-4">
            <a class="nav-link" th:href="@{/}">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/organizations}">
                <span>organizations</span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/{organization}/boxes(organization=${box.username})}">
                <span th:text="${box.username}"></span>
                <i class="fa-solid fa-caret-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/{organization}/boxes/{box}(organization=${box.username},box=${box.name})}">
                <span th:text="${box.name}"></span>
            </a>
        </li>
    </ul>
</div>
<main layout:fragment="content" class="container-fluid mt-4" role="main">
    <section class="content content-boxes">
        <h3 class="mb-4" th:text="#{versions.page.title}"></h3>

        <div class="d-flex w-100 justify-content-between mb-2">
            <div class="box-breadcrumb">
                <h5 class="mb-1">
                    <a class="link-dark" th:href="@{/{organization}/boxes(organization=${box.username})}">
                        <span th:text="${box.username}"></span>
                    </a>
                    /
                    <a class="link-dark"
                       th:href="@{/{organization}/boxes/{box}(organization=${box.username},box=${box.name})}">
                        <span th:text="${box.name}"></span>
                    </a>
                </h5>
                <p class="text-muted mb-1" th:text="${box.descriptionShort}"></p>
            </div>
            <div>
                <small class="text-muted d-block mb-2"
                       th:text="${#temporals.format(box.created, 'yyyy-MM-dd')}"></small>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end pb-2 mb-4">
            <a th:href="@{/{organization}/boxes/{box}/version(organization=${box.username},box=${box.name})}"
               class="btn btn-primary me-md-2"
               role="button" th:text="#{versions.page.button.create}"></a>
        </div>

        <div th:if="${#lists.isEmpty(versions)}" class="list-group-item">
            <span th:text="#{versions.page.text.no-versions}"></span>
        </div>

        <div class="list-group" th:each="version : ${versions}">
            <a th:href="@{/{organization}/boxes/{box}/versions/{version}(organization=${box.username},box=${box.name},version=${version.name})}"
               class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <h5 class="mb-1" th:text="${version.name}"></h5>
                        <p class="text-muted mb-1" th:text="${version.descriptionHtml}"></p>
                    </div>
                    <div>
                        <small class="text-muted d-block mb-2"
                               th:text="${#temporals.format(version.created, 'yyyy-MM-dd')}"></small>
                    </div>
                </div>
            </a>
        </div>
    </section>
</main>
</body>
</html>
